{:duct.profile/base
 {:duct.core/project-ns duct-crud-compojure

  ;; add
  :duct.router/cascading
  [#ig/ref :duct-crud-compojure.handler/routing]

  :duct-crud-compojure.handler/routing
  {:db #ig/ref :duct.database/sql}

  }

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}

 ;; add
 :duct.module/web {}
 :duct.module/sql
 {:database-url "jdbc:mysql://localhost:3306/test?user=root&password=password"}
}
